*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family : 'Arial';
}
body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);

}
.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    height: 70vh;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #40a5d473;
    text-align: center;
}

input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
input:focus {
    outline: none;
}
button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
}

.dataBox {
    /* border: 1px solid black; */
    background-color: rebeccapurple;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 10px;
}

h2, p {
    margin: 10px;
    /* border: 1px solid black; */
    
}

#loadingMsg {
    display: none;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #6e88dd;
}
#loadingMsg::after {
    content: "";
    width: 18px;
    height: 18px;
    border-top: 3px dotted white;
    border-radius: 50%;
    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:600px) {
    .main {
        width: 90%;
        /* padding: 10px 0px; */
    }
}